:root {
    --bg-navy-blue: #151945;
    --lightblue: #569cff;
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    /*color: white;*/
    /*background-color: var(--lightblue);*/
}

select::-ms-expand {
    display: none;
}

.custom-select {
    width: 30%;
    margin: auto;
    /*border: 1px solid var(--select-border);*/
    /*border-radius: 0.25em;*/
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--bg-navy-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}