:root {
    --bg-navy-blue: #151945;
    --lightblue: #569cff;
    --blue: #286ac4;
}

body {
    padding: 0;
    margin: 0;
}

#title_bar {
    background-color: var(--bg-navy-blue);
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    width: 100%;
}

#title_bar_headers {
    margin: 15px auto;
    width: 30%;
    color: white;
}

.title_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

#jump_to_offers {
    width: 30%;
    margin: auto;
}

button {
    background-color: var(--lightblue);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
}