body {
    padding: 0;
}

.title_bar {
    background-color: #151945;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    width: 100%;
}

.title_bar_content {
    margin: auto;
    width: 30%;
    color: white;
}